@charset "UTF-8";
@import '~node_modules/modern-normalize/modern-normalize.css';
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
}

@font-face {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/titan-one-v13-latin-regular.eot");
  src: local(""), url("../fonts/titan-one-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/titan-one-v13-latin-regular.woff2") format("woff2"), url("../fonts/titan-one-v13-latin-regular.woff") format("woff"), url("../fonts/titan-one-v13-latin-regular.ttf") format("truetype"), url("../fonts/titan-one-v13-latin-regular.svg#TitanOne") format("svg");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v11-latin-regular.eot");
  src: local(""), url("../fonts/dm-sans-v11-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-regular.woff") format("woff"), url("../fonts/dm-sans-v11-latin-regular.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-regular.svg#DMSans") format("svg");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dm-sans-v11-latin-500.eot");
  src: local(""), url("../fonts/dm-sans-v11-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-500.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-500.woff") format("woff"), url("../fonts/dm-sans-v11-latin-500.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-500.svg#DMSans") format("svg");
}
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/dm-sans-v11-latin-700.eot");
  src: local(""), url("../fonts/dm-sans-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/dm-sans-v11-latin-700.woff2") format("woff2"), url("../fonts/dm-sans-v11-latin-700.woff") format("woff"), url("../fonts/dm-sans-v11-latin-700.ttf") format("truetype"), url("../fonts/dm-sans-v11-latin-700.svg#DMSans") format("svg");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section__title {
  font-family: "Titan One";
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.section__suptitle {
  font-family: "Titan One";
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
    line-height: 1.15;
  }
  .section__suptitle {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 58px;
    line-height: 1.14;
  }
  .section__suptitle {
    font-size: 30px;
    line-height: 1.13;
  }
}
.section_no-padding-top {
  padding-top: 0px;
}

.section_no-padding-bottom {
  padding-bottom: 0px;
}

.contacts-block__social-media {
  display: flex;
  gap: 28px;
}

.social-media__item {
  display: flex;
}

.social-media__link {
  text-decoration: none;
}

.social-media__icon {
  width: 32px;
  height: 32px;
}

/*
.social-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons-list__item {
    display: flex;
    width: 32px;
    height: 32px;
}

.social-icons-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    border-radius: 50%; */
/*  Задаём значения перехода  */
/*     transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.soc-med-icon {
    fill: var(--our-client-border-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-icons-list__link:hover &,
    .social-icons-list__link:focus & {
        fill: var(--top-color);
    }
}

.social-icons-list__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
} */
.header {
  background-color: #ffb8ca;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 8px;
  }
  .header__btn {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header__nav {
    display: none;
  }
  .burger-btn {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .burger-btn__icon {
    display: block;
    stroke: #d41443;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 32px;
  }
  .header-btn__wrap {
    display: flex;
  }
  .burger-btn {
    margin-right: 32px;
  }
  .header__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 160px;
    height: 44px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
    letter-spacing: 0.04em;
    color: #d41443;
    background-color: #ffffff;
    border-radius: 20px;
  }
  .header__btn:hover, .header__btn:focus {
    background-color: #ecebeb;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 37px;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .nav-menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
    letter-spacing: 0;
    color: #ffffff;
  }
  .nav-menu__link--active {
    color: #d41443;
  }
  .nav-menu__link:hover, .nav-menu__link:focus {
    color: #d41443;
  }
  .burger-btn {
    display: none;
  }
}
.hero {
  background-color: #ffb8ca;
}

.hero__title {
  font-family: "Titan One";
  text-transform: uppercase;
  color: #ffffff;
}
.hero__title--span {
  color: #d41443;
}

@media screen and (max-width: 767px) {
  .hero__container {
    padding-top: 136px;
    padding-bottom: 158px;
  }
  .hero__title {
    font-weight: 400;
    font-size: 38px;
    line-height: 1.1578947368;
    letter-spacing: 0.04em;
  }
  .hero__title--span {
    font-weight: 400;
    font-size: 58px;
    line-height: 0.8965517241;
    letter-spacing: 0.04em;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  background: #FFF5F6;
}

.slogan-block {
  display: flex;
  width: 234px;
}

.slogan-block__text-1 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFA5BA;
}

.slogan-block__text-2 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.contacts-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-phone {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: #000000;
}

.contacts-phone__number {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  /* or 22px */
  text-align: right;
  color: rgb(212, 20, 67);
}

.copyright-block__text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: #907E82;
}

.copyright-block {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #E1E1E1;
}

/*--подчеркивание  и подсвечивание текущей страницы--*/
/* .bottom-border::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    padding-bottom: 0px;
    bottom: -61px;
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
}
*/