$primary-text-color: #907e82;
$secondary-text-color: #000000;
$accent-red-color: #d41443;
$rose-text-color: #ffa5ba;
$white-text-color: #ffffff;
$hover-background-color: #ecebeb;
$background-rose-color: #ffb8ca;
$background-primary-color: #ffffff;
$background-second-color: #fff5f6;
$background-mobile-menu: #e17992;
$background-green-color: #c2e297;
$background-coffee-color: #f0d1a5;
