<section class="about section">
    <div class="container ">
        <p class="section__suptitle">tradition and love</p>
        <h2 class="section__title">how it’s made?</h2>
        <div class="about__content">
            <picture>
                <source srcset="./images/desktop/about/about.webp 1x, ./images/desktop/about/about@2x.webp 2x" media="(min-width:1200px)" type="image/webp"/>
                <source srcset="./images/desktop/about/about.png 1x, ./images/desktop/about/about@2x.png 2x" media="(min-width:1200px)" />
                <source srcset="./images/tablet/about/about.webp 1x, ./images/tablet/about/about@2x.webp 2x" media="(min-width:768px)" type="image/webp"/>
                <source srcset="./images/tablet/about/about.png 1x, ./images/tablet/about/about@2x.png 2x" media="(min-width:768px)" />
                <source srcset="./images/mobile/about/about.webp 1x, ./images/mobile/about/about@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>
                <source srcset="./images/mobile/about/about.png 1x, ./images/mobile/about/about@2x.png 2x" media="(max-width:767px)" />
            <img class="about__image element-animation" src="./images/desktop/about/about.png" alt="корова и графин молока">
            </picture>
            <div class="about__text--wraper">
                <p class="about__text about__text--black">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
                <p class="about__text about__text--gray">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
</p>
                <p class="about__text about__text--gray">Aliquam erat volutpat. Aenean accumsan.</p>
                <button class="modal__btn" type="button">Read more
                    <svg class="modal__btn--icon" width="4" height="8">
                        <use href="./images/sprite.svg#icon-vector"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>