<section id="contact" class="section section-contacts">
  <div class="container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="info">
      <li class="info__item element-animation">
        <div class="places">
          <div class="name">
            <p class="places__name">CAFE</p>
            <p class="places__city">Chicago</p>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="days">
            <ul class="schedule">
              <li class="schedule__day">Monday - Friday</li>
              <li class="schedule__time">06:00 AM - 10:00 PM</li>
            </ul>
            <ul class="schedule">
              <li class="schedule__day">Saturday - Sunday</li>
              <li class="schedule__time schedule__time-after">
                08:00 AM - 16:00 PM
              </li>
            </ul>
          </div>

          <ul class="contacts-card">
            <li class="contacts-card__tel">
              <a class="contacts-card__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-card__mail">
              <a class="contacts-card__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
      <li class="info__item element-animation">
        <div class="places">
          <div class="name">
            <p class="places__name-foodtrack">FOODTRUCK</p>
            <p class="places__city">Los Angeles</p>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="days">
            <ul class="schedule">
              <li class="schedule__day">Monday - Friday</li>
              <li class="schedule__time">06:00 AM - 10:00 PM</li>
            </ul>
            <ul class="schedule">
              <li class="schedule__day">Saturday - Sunday</li>
              <li class="schedule__time schedule__time-after">
                08:00 AM - 16:00 PM
              </li>
            </ul>
          </div>

          <ul class="contacts-card">
            <li class="contacts-card__tel">
              <a class="contacts-card__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-card__mail">
              <a class="contacts-card__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>

      <li class="info__item element-animation">
        <div class="places">
          <div class="name">
            <p class="places__name">CAFE</p>
            <p class="places__city">New York</p>
            <p class="places__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </div>
          <div class="days">
            <ul class="schedule">
              <li class="schedule__day">Monday - Friday</li>
              <li class="schedule__time">06:00 AM - 10:00 PM</li>
            </ul>
            <ul class="schedule">
              <li class="schedule__day">Saturday - Sunday</li>
              <li class="schedule__time schedule__time-after">
                08:00 AM - 16:00 PM
              </li>
            </ul>
          </div>

          <ul class="contacts-card">
            <li class="contacts-card__tel">
              <a class="contacts-card__link" href="tel:+610383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li class="contacts-card__mail">
              <a class="contacts-card__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <ul class="btn">
    <li class="btn__1">
      <button type="button" class="modal__btn_contacts" data-map-open>
        Our Locations
        <svg class="btn-icon-contacts" width="5px" height="8px">
          <use href="./images/sprite.svg#icon-Vector-1"></use>
        </svg>
      </button>
    </li>
    <li class="btn__1">
      <button type="button" class="modal__btn_franchise" data-mapfr-open>
        Franchise
        <svg class="btn-icon-contacts" width="5px" height="8px">
          <use href="./images/sprite.svg#icon-vector"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
