<section class="section">
    <div class="container">
        <h3>Customer reviews</h3>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/desktop/reviews/reviews-img1.png 1x, ./images/desktop/reviews/reviews-img1@2x.png 2x" type="image/png">
                        <source srcset="./images/desktop/reviews/reviews-img1.webp 1x, ./images/desktop/reviews/reviews-img1@2x.webp 2x" type="image/webp">
                        <img src="./images/desktop/reviews/reviews-img1.png" alt="Emily's photo">
                    </picture>
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
                    <p>Emily, Los Angeles</p>
                    </div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/desktop/reviews/reviews-img2.png 1x, ./images/desktop/reviews/reviews-img2@2x.png 2x" type="image/png">
                        <source srcset="./images/desktop/reviews/reviews-img2.webp 1x, ./images/desktop/reviews/reviews-img2@2x.webp 2x" type="image/webp">
                        <img src="./images/desktop/reviews/reviews-img2.png" alt="Barbara's photo">
                    </picture>
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <p>Barbara, Chicago</p>
                    Slide 2</div>
                <div class="swiper-slide">
                    <picture>
                        <source srcset="./images/desktop/reviews/reviews-img3.png 1x, ./images/desktop/reviews/reviews-img3@2x.png 2x" type="image/png">
                        <source srcset="./images/desktop/reviews/reviews-img3.webp 1x, ./images/desktop/reviews/reviews-img3@2x.webp 2x" type="image/webp">
                        <img src="./images/desktop/reviews/reviews-img3.png" alt="Rebecca's photo">
                    </picture>
                    <p>Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
                    <p>Rebecca, New York</p>
                    </div>
            </div>
        </div>
    </div>
</section>