<section class="section slider">
    <div class="container">
        <h3 class="visually-hidden">Customer reviews</h3>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="slider__card swiper-slide">
                    <picture>
                        <source srcset="./images/reviews/reviews-img1.png 1x, ./images/reviews/reviews-img1@2x.png 2x" type="image/png">
                        <source srcset="./images/reviews/reviews-img1.webp 1x, ./images/reviews/reviews-img1@2x.webp 2x" type="image/webp">
                        <img class="slider__photo" src="./images/reviews/reviews-img1.png" alt="Emily's photo">
                    </picture>
                    <div class="slider__text-box">
                        <p class="slider__text"><span class="slider__text-wrap">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span></p>
                        <div class="slider__text-box-gradient"></div>
                    </div>
                    <p class="slider__subscript">Emily, Los Angeles</p>
                    </div>
                <div class="slider__card swiper-slide">
                    <picture>
                        <source srcset="./images/reviews/reviews-img2.png 1x, ./images/reviews/reviews-img2@2x.png 2x" type="image/png">
                        <source srcset="./images/reviews/reviews-img2.webp 1x, ./images/reviews/reviews-img2@2x.webp 2x" type="image/webp">
                        <img class="slider__photo" src="./images/reviews/reviews-img2.png" alt="Barbara's photo">
                    </picture>
                    <div class="slider__text-box">
                        <p class="slider__text"><span class="slider__text-wrap">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span></p>
                        <div class="slider__text-box-gradient"></div>
                    </div>
                    <p class="slider__subscript">Barbara, Chicago</p>
                </div>
                <div class="slider__card swiper-slide">
                    <picture>
                        <source srcset="./images/reviews/reviews-img3.png 1x, ./images/reviews/reviews-img3@2x.png 2x" type="image/png">
                        <source srcset="./images/reviews/reviews-img3.webp 1x, ./images/reviews/reviews-img3@2x.webp 2x" type="image/webp">
                        <img class="slider__photo" src="./images/reviews/reviews-img3.png" alt="Rebecca's photo">
                    </picture>
                    <div class="slider__text-box">
                        <p class="slider__text"><span class="slider__text-wrap">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</span></p>
                        <div class="slider__text-box-gradient"></div>
                    </div>
                    <p class="slider__subscript">Rebecca, New York</p>
                </div>
            </div>
        </div>
    </div>
</section>