<footer class="footer">
    <div class="container footer__container">
        <div class="slogan-block">
            <p class="slogan-block__text-1">homemade ice cream made</p>
            <p class="slogan-block__text-2">with passion</p>
        </div>
        <div class="contacts-block">
            <div class="social-networks__wrapper">
                <ul class="contacts-block__social-media">
                    <li class="social-media__item">
                        <a href="https://github.com" class="social-media__link" target="_blank">
                            <svg class="social-media__icon">
                                <use href="../src/images/sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="https://web.telegram.org/k/" class="social-media__link" target="_blank">
                            <svg class="social-media__icon">
                                <use href="../src/images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-media__item">
                        <a href="https://www.facebook.com" class="social-media__link" target="_blank">
                            <svg class="social-media__icon">
                                <use href="../src/images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>            
            <a href="tel:+61(0)383766284" class="contacts-phone">Feel free to contact <span class="contacts-phone__number">+61 (0) 383 766 284</span></a>
        </div>
        <div class="copyright-block">
            <span class="copyright-block__text">© 2022 - IceCream.
            All Rights Reserved.</span>
        </div>
    </div>
</footer>