<section class="header">
  <div class="header__container container">
    <a class="logo" href="./index.html"
      ><svg class="logo__icon" width="199" height="50">
        <use href="./images/sprite.svg#icon-logo"></use></svg
    ></a>
    <nav class="header__nav">
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <a class="nav-menu__link nav-menu__link--active" href="#">Home</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">About us</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">How it’s made?</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">Our products</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header-btn__wrap">
      <button type="button" class="burger-btn" data-menu-open>
        <svg class="burger-btn__icon" width="20" height="12">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <button type="button" class="header__btn">Buy now</button>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero__container container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="hero-menu">
      <li class="hero-menu__item">
        <a class="hero-menu__link" href="#">Products</a>
      </li>
      <li class="hero-menu__item">
        <a class="hero-menu__link" href="#">How it’s made?</a>
      </li>
    </ul>
    <p class="hero__commentary">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et
    </p>
    <ul class="hero-asside">
      <li class="hero-asside__item">
        <p class="hero-asside__text">
          <span class="hero-asside__span">16</span>cafes
        </p>
      </li>
      <li class="hero-asside__item">
        <p class="hero-asside__text">
          <span class="hero-asside__span">23</span>food trucks
        </p>
      </li>
    </ul>
  </div>
</section>
