<section class="header">
  <div class="header__container container">
    <a class="logo" href="./index.html"
      ><svg class="logo__icon" width="199" height="50">
        <use href="./images/sprite.svg#icon-logo"></use></svg
    ></a>
    <nav class="header__nav">
      <ul class="nav-menu">
        <li class="nav-menu__item">
          <a class="nav-menu__link nav-menu__link--active" href="#">Home</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">About us</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">How it’s made?</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">Our products</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header-btn__wrap">
      <button type="button" class="burger-btn" data-menu-open>
        <svg class="burger-btn__icon" width="20" height="12">
          <use href="./images/sprite.svg#icon-burger"></use>
        </svg>
      </button>
      <button type="button" class="header__btn">Buy now</button>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero__container container">
    <picture class="hero__icecream">
      <source
        srcset="
          ./images/desktop/hero/img1.webp    1x,
          ./images/desktop/hero/img1@2x.webp 2x
        "
        media="(min-width: 1200px)"
        type="image/.webp" />
      <source
        srcset="
          ./images/desktop/hero/img1.png    1x,
          ./images/desktop/hero/img1@2x.png 2x
        "
        media="(min-width: 1200px)" />

      <source
        srcset="
          ./images/tablet/hero/hero-img1.webp    1x,
          ./images/tablet/hero/hero-img1@2x.webp 2x
        "
        media="(min-width: 768px)"
        type="image/webp" />
      <source
        srcset="
          ./images/tablet/hero/hero-img1.png    1x,
          ./images/tablet/hero/hero-img1@2x.png 2x
        "
        media="(min-width: 768px)" />

      <source
        srcset="
          ./images/mobile/hero/hero-img1.webp    1x,
          ./images/mobile/hero/hero-img1@2x.webp 2x
        "
        media="(max-width: 767px)"
        type="image/webp" />
      <source
        srcset="
          ./images/mobile/hero/hero-img1.png    1x,
          ./images/mobile/hero/hero-img1@2x.png 2x
        "
        media="(max-width: 767px)" />
      <img src="./images/mobile/hero/hero-img1.png" alt="Icecream"
    /></picture>

    <div class="hero-left__container">
      <h1 class="hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__title--span">passion</span>
      </h1>
      <ul class="hero-menu">
        <li class="hero-menu__item">
          <a class="hero-menu__link hero-menu__link--red" href="#">Products</a>
        </li>
        <li class="hero-menu__item">
          <a class="hero-menu__link hero-menu__link--light" href="#"
            >How it’s made?</a
          >
        </li>
      </ul>
      <p class="hero__commentary">
        Lorem ipsum dolor sit amet,<br />
        consectetur adipiscing elit,<br />
        sed do eiusmod tempor <br />
        incididunt ut labore et
      </p>
    </div>
    <div class="hero-right__container">
      <ul class="hero-asside">
        <li class="hero-asside__item">
          <p class="hero-asside__text">
            <span class="hero-asside__span">16</span>cafes
          </p>
        </li>
        <li class="hero-asside__item">
          <p class="hero-asside__text">
            <span class="hero-asside__span">23</span>food trucks
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
