<div class="modal section map__modal modal-hidden" data-map>
    <button class="modal-close-button" type="button" data-map-close>
        <svg class="modal-close-button__icon" width="18" height="18">
            <use href="./images/sprite.svg#close-icon"></use>
        </svg>
    </button>
    <h2 class="section__title modal__title">visit us at:</h2>
    <iframe class="map" src="https://snazzymaps.com/embed/408455" height="300" style="border:none;"></iframe>
</div>

<div class="modal section map__modal modal-hidden" data-mapfr>
    <button class="modal-close-button" type="button" data-mapfr-close>
        <svg class="modal-close-button__icon" width="18" height="18">
            <use href="./images/sprite.svg#close-icon"></use>
        </svg>
    </button>
    <h2 class="section__title modal__title">franchise units</h2>
    <iframe class="map" src="https://snazzymaps.com/embed/408476" height="300" style="border:none;"></iframe>
</div>