<div class="modal section" data-modal>
  <p class="section__title modal__title">fast icecream delivery</p>
  <form class="modal__form" action="#">
    <label class="modal__label section__suptitle" for="tel">Phone number:</label>
    <input id="tel" required name="tel" class="modal__input" type="tel" placeholder="+1 213-748-xxxx">
    <span class="modal__buttons">
      <button class="modal__button" type="submit">Call me!</button>
      <button class="modal__button" type="button" data-modal-close>Cancel</button>
    </span>
  </form>

</div>