<div class="backdrop__products  modal-hidden" data-window>
    <div class="modal__products-window">
        <p class="window__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus
            accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
            consequatur nam soluta sunt earum?Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati
            aut temporibus
            accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
            consequatur nam soluta sunt earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati
            aut temporibus
            accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
            consequatur nam soluta sunt earum?</p>
        <button type="button" class="window__close-btn" data-window-close>close
            <svg class="close-btn__icon" width="20px" height="20px">
                <use href="/src/images/sprite.svg#icon-ice-cream"></use>
            </svg>
        </button>
    </div>
</div>
<div class="backdrop__products  modal-hidden" data-window-second>
    <div class="modal__products-window">
        <p class="window__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus
            accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
            consequatur nam soluta sunt earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus
            accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
            consequatur nam soluta sunt earum?</p>
        <button type="button" class="window__close-btn" data-window-second-close>close
            <svg class="close-btn__icon" width="20px" heigh="20px">
                <use href="/src/images/sprite.svg#icon-ice-cream"></use>
            </svg>
        </button>
    </div>
</div>
<div class="backdrop__products  modal-hidden" data-window-third>
    <div class="modal__products-window">
        <p class="window__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus
            accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
            consequatur nam soluta sunt earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati
            aut temporibus
            accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
            consequatur nam soluta sunt earum?</p>
        <button type="button" class="window__close-btn" data-window-third-close>close
            <svg class="close-btn__icon" width="20px" heigh="20px">
                <use href="/src/images/sprite.svg#icon-ice-cream"></use>
            </svg>
        </button>
    </div>
</div>