<section id="products" class="section">
  <div class="container">
    <p class="section__suptitle">100% natural</p>
    <h2 class="section__title section__title--other-marg">products</h2>
    <ul class="products">
      <li class="products__item products__item--first element-animation">
        <h3 class="products__title">ice cream</h3>
        <span class="products__dots"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" data-window-open>
          <svg class="products__icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--second element-animation">
        <h3 class="products__title">ice coffee</h3>
        <span class="products__dots"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" data-window-second-open>
          <svg class="products__icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--third element-animation">
        <h3 class="products__title">milkshakes</h3>
        <span class="products__dots"></span>
        <p class="products__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button" data-window-third-open>
          <svg class="products__icon" width="20" height="20">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
  <div class="backdrop__products  modal-hidden" data-window>
    <div class="modal__products-window" >
      <p class="window__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure consequatur nam soluta sunt earum?</p>
      <button type="button" class="window__close-btn" data-window-close>close
        <svg class="close-btn__icon" width="20px" heigh="20px">
          <use href="/src/images/sprite.svg#icon-ice-cream"></use>
        </svg>
    </button>
        </div>
  </div>
    <div class="backdrop__products  modal-hidden" data-window-second>
        <div class="modal__products-window">
            <p class="window__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus
                accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
                consequatur nam soluta sunt earum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus
                accusantium ipsum earum</p>
            <button type="button" class="window__close-btn" data-window-second-close>close
                <svg class="close-btn__icon" width="20px" heigh="20px">
                    <use href="/src/images/sprite.svg#icon-ice-cream"></use>
                </svg>
            </button>
        </div>
        <div class="backdrop__products  modal-hidden" data-window-third>
            <div class="modal__products-window">
                <p class="window__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto obcaecati aut temporibus
                    accusantium ipsum earum voluptatibus ipsa assumenda ab fugiat? Ullam enim, possimus voluptatibus iure
                    consequatur nam soluta sunt earum?</p>
                <button type="button" class="window__close-btn" data-window-third-close>close
                    <svg class="close-btn__icon" width="20px" heigh="20px">
                        <use href="/src/images/sprite.svg#icon-ice-cream"></use>
                    </svg>
                    <button>
            </div>
        </div>
    </div>
</section>
