.modal.modal-hidden {
  transform: scale(0);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  background-color: $background-rose-color;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 400px;
  padding-right: 12px;
  padding-left: 12px;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition: transform 250ms linear,
    opacity 250ms linear,
    visibility 250ms linear;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal__label {
  color: white;
}

.modal__input {
  width: calc(100% - 64px);
  height: 50px;
  border: none;
  border-radius: 15px;
  text-align: center;
  font-size: 30;
  color: $accent-red-color;
  outline: none;
}

.modal__input::placeholder {
  text-align: center;
  font-size: 25;
  color: $rose-text-color;
}

.modal__button {
  background-color: #FFFFFF;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  text-align: center;
  color: $accent-red-color;
  height: 44px;
  padding-right: 15px;
  padding-left: 15px;

  &:hover,
  &:focus {
    color: white;
    background-color: $accent-red-color;
  }
}

.modal__buttons {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .modal {

    width: 400px;
    height: 500px;
    padding-right: 24px;
    padding-left: 24px;
    top: calc(50% - 250px);
    left: calc(50% - 200px);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 500px;
    height: 550px;
    padding-right: 32px;
    padding-left: 32px;
    top: calc(50% - 275px);
    left: calc(50% - 250px);
  }
}