.contacts-block__social-media {
    display: flex;
    gap: 28px;
}

.social-media__item {
    display: flex;
}

.social-media__link {
    text-decoration: none;
}

.social-media__icon {
    width: 32px;
    height: 32px;
}



/*
.social-icons-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-icons-list__item {
    display: flex;
    width: 32px;
    height: 32px;
}

.social-icons-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--top-color);
    border-radius: 50%; */
    /*  Задаём значения перехода  */
/*     transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.soc-med-icon {
    fill: var(--our-client-border-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-icons-list__link:hover &,
    .social-icons-list__link:focus & {
        fill: var(--top-color);
    }
}

.social-icons-list__item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
} */