.about {
    background-color: $background-second-color;

    .section__title {
        margin-bottom: 32px;

        @media screen and(min-width:768px) {
            margin-bottom: 40px;
        }

        @media screen and(min-width:1200px) {
            margin-bottom: 60px;
        }
    }

    background-image: url(/src/images/mobile/about/about-bg.png);
    background-repeat: no-repeat;
    background-position: center 75%;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(/src/images/mobile/about/about-bg@2x.png);
    }

    @media screen and(min-width:768px) {
        background-image: url(/src/images/desktop/about/about-bg.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/desktop/about/about-bg@2x.png);
        }
    }

    @media screen and(min-width:1200px) {
        background-image: url(/src/images/desktop/about/about-bg.png);

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(/src/images/desktop/about/about-bg@2x.png);
        }
    }
}

.section__suptitle{
    margin-bottom: 15px;
}

.about__content{
    display: flex;
    flex-direction: column;
    justify-content: start;

    gap: 40px;
    @media screen and (min-width:768px) {
        gap: 32px;
        flex-direction: row;
    }

    @media screen and (min-width:1200px) {
        gap: 100px;
        align-items: center;
    }
}

.about__text{
    max-width: 220px;
    @include font(500, 12px);
    color: $secondary-text-color;
    margin-bottom: 20px;

    &--black{
        margin-bottom: 40px;
    }
    &--gray{
        @include font(500, 12px);
        color: $primary-text-color;
    }

    @media screen and (min-width:768px) {
        max-width: 335px;
        @include font(500, 14px);
        margin-bottom: 40px;
    }
    @media screen and (min-width:1200px){
        max-width: 464px;
        @include font(500, 16px);
        margin-bottom: 30px;

        &--gray{
            @include font(500, 14px);
            margin-bottom: 40px;
        }
    }
}

.modal__btn {
    align-items: center;
}