@media screen and (min-width: 480px) {
    
    .places{
        
        
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
        padding-top: 40px;
        padding-left: 32px;
        padding-bottom: 40px;
        padding-right: 69px;

    }
    
    .places__name{

        margin-bottom: 20px;
        
        background: $background-coffee-color: #f0d1a5;
        border-radius: 4px;
        width: 80px;
        height: 16px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        
        
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        
        color: #FFFFFF;
        
        
    }

    .places__name-foodtrack{
        background: #C2E297;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .places__city{
        
        text-align: left;
        margin-bottom: 8px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        
        
        letter-spacing: 0.04em;
        
        color: #000000;
    }

    .places__text{
        
        
        padding-right: 69px;
        text-align: left;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        
        
        color: #907E82;
    }

    .places__text::after{
        content: "";
        position: absolute;
        width: 216px;
        height: 0px;
        left: 32px;
        bottom: 24px;
        
        border: 1px solid #E1E1E1;
    }

    

    .name{
        position: relative;
        padding-bottom: 48px;
    }

    .days{
        margin-bottom: 48px;
    }

    .schedule{
        position: relative;
        margin-bottom: 8px;
    }

    .schedule__time-after::after{
        content: "";
        position: absolute;
        width: 216px;
        height: 0px;
        left:32px;
        bottom: -24px;
        right: 32px;
        
        border: 1px solid #E1E1E1;
    }

    .schedule__day{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        /* or 22px */
        
        
        color: #000000;
    }

    .schedule__time{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 186%;
        /* identical to box height, or 22px */
        
        
        color: #FFA5BA;
    }

    .contacts-card__tel{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #907E82;

        &:hover,
        &:focus{
            color: #D41443;
        }
    }

    .contacts-card__mail{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        /* or 150% */
        
        
        color: #907E82;
    }

    .info__item{
        margin-bottom: 20px;
    }

    .info__item:last-child{
        margin-bottom: 0;
    }



    
}
