.slider__text-box {
    position: relative;
    margin: 0 auto 16px;
    background-color: #fafafa;
    
}
.slider__text {
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    
    &::before {
        content: url(../images/reviews/quotes.svg);
        position: absolute;
    }
}

.slider__dots {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: $slider-dots-color;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $slider-dots-color;
    }
    
    &::before {
        left: -10px;
    }
    &::after {
        left: 10px;
    }
}

.slider__text-wrap {
    position: relative;
    z-index: 10;
}
.slider__text-box-gradient {
    position: absolute;
    background-image: repeating-linear-gradient(to bottom, #fafafa 1px, #fafafa 30px, #e1e1e1 30px, #e1e1e1 31px);

}
.slider__subscript {
    text-align: center;
}
.slider__photo {
    margin-left: auto;
    margin-right: auto;
}
.swiper-pagination-bullet-active {
    background: transparent;
    background-image: url(../images/reviews/home.svg);
    background-position: center;
    background-size: cover;
    border-radius: 0;
}
.swiper-pagination-bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    font-size: 0;
    text-align: center;    
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin-left: 0;
    margin-right: 0;
}
.swiper-horizontal>.swiper-pagination-bullets:not(:last-child) .swiper-pagination-bullet:not(:last-child),
.swiper-pagination-horizontal.swiper-pagination-bullets:not(:last-child) .swiper-pagination-bullet:not(:last-child) {
    margin-right: 18px;
}
@media screen and (max-width: 767px) {
    .slider {
        padding-top: 0;
    }
    .slider__card {
        height: 530px;
    }
    .slider__photo {
        margin-bottom: 32px;
    }
    .slider__text-box {
        width: 280px;
        height: 308px;
    }
    .slider__text {
        padding: 43px 58px 26px 65px;
        @include font(500, 12px, 31px);

        &::before {
            top: 30px;
            left: 53px;
        }
    }
    .slider__text-box-gradient {
        top: 74px;
        left: 50px;
        width: 180px;
        height: 217px;
    }
    .slider__subscript {
        @include font (500, 14px, 26px);
    }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .slider__card {
        height: 373px;
    }
    .slider__photo {
        margin-bottom: 20px;
    }
    .slider__text-box {
        width: 620px;
        height: 164px;
        margin-bottom: 4px;
    }
    
    .slider__text {
        padding: 37px 55px 44px 51px;
        @include font (500, 14px, 30px);
        
        &::before {
            top: 20px;
            left: 6px;
            width: 60px;
            height: 40px;
        }    
    
    }
    .slider__text-box-gradient {
        top: 68px;
        left: 6px;
        width: 608px;
        height: 61px;    
    }
    .slider__subscript {
        @include font (500, 16px, 30px);
    }
}

@media screen and (min-width: 1200px) {
    .slider__card {
        height: 358px;
    }
    .slider__photo {
        margin-bottom: 16px;
    }
    .slider__text-box {
        width: 968px;
        height: 138px;
        margin-bottom: 16px;
    }
    .slider__text {
        padding: 47px 109px 39px;
        @include font (500, 16px, 30px);

        &::before {
            top: 32px;
            left: 72px;
            width: 54px;
            height: 40px;
        }
    }
    .slider__text-box-gradient {
        top: 76px;
        left: 73px;
        width: 821px;
        height: 31px;
    }
    .slider__subscript {
        @include font (500, 20px, 37px);
    }
}