.section__gallery {
    background: linear-gradient(to bottom, #FFF5F6 95px, #ffffff 96px);
}

.gallery {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (min-width:768px) {
    .gallery {
        width: 710px;
    }

    .section__gallery {
        background: linear-gradient(to bottom, #FFF5F6 215px, #ffffff 216px);
    }
}

@media screen and (min-width:1200px) {
    .gallery {
        width: 1015px;
    }

    .section__gallery {
        background: linear-gradient(to bottom, #FFF5F6 145px, #ffffff 146px);
    }
}
