.header {
  background-color: $background-rose-color;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 8px;
  }

  .header__btn {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .header__nav {
    display: none;
  }

  .burger-btn {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .burger-btn__icon {
    display: block;
    stroke: $accent-red-color;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 32px;
  }
  .header-btn__wrap {
    display: flex;
  }
  .burger-btn {
    margin-right: 32px;
  }
  .header__btn {
    display: flex;
    align-items: baseline;
    padding: 12px 37px;
    @include font(700, 16px, 21px);
    color: $accent-red-color;
    background-color: $background-primary-color;
    border-radius: 20px;
    &:hover,
    &:focus {
      background-color: $hover-background-color;
    }
  }
  .btn-icon {
    margin-left: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 37px;
  }
  .nav-menu {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 35px;
  }
  .nav-menu__link {
    @include font(700, 16px, 21px, 0);
    color: $white-text-color;
    &--active {
      color: $accent-red-color;
    }
    &:hover,
    &:focus {
      color: $accent-red-color;
    }
  }

  .burger-btn {
    display: none;
  }
}

.hero {
  background-color: $background-rose-color;
}
.hero__container {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    z-index: -2;
    position: absolute;
    border-radius: 50%;
    background-color: $background-rose-second-color;
  }
}
.hero__title {
  font-family: 'Titan One';
  text-transform: uppercase;
  color: $white-text-color;
  &--span {
    color: $accent-red-color;
  }
}
.hero-menu {
  display: flex;
}
.hero-menu__item {
  display: flex;
}
.hero-menu__link {
  border-radius: 20px;
  &--red {
    color: $white-text-color;
    background-color: $accent-red-color;
  }
  &--light {
    color: $accent-red-color;
    background-color: $background-primary-color;
  }
}
.hero__commentary {
  color: $white-text-color;
}
.hero__img {
  z-index: -1;
  position: absolute;
  &--icecream {
    bottom: 0;
  }
}
.hero-asside {
  display: flex;
  flex-direction: column;
}
.hero-asside__item {
  position: relative;
  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: $background-primary-color;
    top: -14px;
    right: -14px;
  }
}
.hero-asside__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .hero__container {
    padding-top: 136px;
    padding-bottom: 158px;
    overflow: hidden;
    &::after {
      width: 345px;
      height: 345px;
      bottom: 75px;
      left: 12%;
    }
  }
  .hero__img {
    &--icecream {
      left: 36%;
    }
    &--milk,
    &--sootasty {
      display: none;
    }
  }
  .hero__title {
    @include font(400, 26px, 30px);
    &--span {
      @include font(400, 48px, 46px);
    }
  }
  .hero__commentary {
    display: none;
  }
  .hero-right__container {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 80px;
    &::after {
      width: 335px;
      height: 335px;
      bottom: 40px;
      left: 248px;
    }
  }
  .hero__img {
    &--icecream {
      left: 322px;
    }
    &--sootasty {
      right: 32px;
      bottom: 0;
    }
    &--milk {
      bottom: 16px;
    }
  }
  .hero__title {
    @include font(400, 22px, 25px);
    &--span {
      @include font(400, 34px, 31px);
    }
  }
  .hero-asside__text {
    color: $white-text-color;
  }
  .hero-asside__span {
    font-family: 'Titan One';
    color: $accent-red-color;
  }
}
@media screen and (max-width: 1199px) {
  .hero-menu {
    gap: 8px;
    margin-top: 20px;
  }
  .hero-menu__link {
    padding: 7px 14px;
    @include font(400, 8px, 10px, 0);
  }
  .hero__commentary {
    @include font(400, 8px, 12px);
    margin-top: 61px;
    margin-left: 150px;
  }
  .hero-asside {
    gap: 17px;
  }
  .hero-asside__item {
    &::after {
      width: 16px;
      height: 16px;
      top: -4px;
      right: -4px;
    }
  }
  .hero-asside__text {
    @include font(400, 8px, 10px, 0);
  }
  .hero-asside__span {
    @include font(400, 28px, 32px);
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 60px;
    padding-bottom: 130px;
    &::after {
      width: 535px;
      height: 535px;
      bottom: 77px;
      left: 517px;
    }
  }
  .hero__img {
    &--icecream {
      left: 636px;
    }
    &--sootasty {
      right: 16px;
    }
    &--milk {
      bottom: 60px;
    }
  }
  .hero__title {
    @include font(400, 38px, 44px);
    &--span {
      @include font(400, 58px, 52px);
    }
  }
  .hero-menu {
    gap: 12px;
    margin-top: 24px;
  }
  .hero-menu__link {
    padding: 11px 23px;
    @include font(400, 14px, 18px, 0);
  }
  .hero__commentary {
    @include font(400, 14px, 20px);
    margin-top: 108px;
    margin-left: 210px;
  }
  .hero-asside {
    gap: 38px;
  }
  .hero-asside__item {
    &::after {
      width: 32px;
      height: 32px;
      top: -12px;
      right: -12px;
    }
  }
  .hero-asside__text {
    @include font(400, 14px, 18px, 0);
  }
  .hero-asside__span {
    @include font(400, 46px, 53px);
  }
}
