.products__item {
    position: relative;
    display:block;
    text-align: center;
    border-radius: 24px;
    padding-top: 160px;
}

.products__item--first{
    background-color: $background-rose-color;
}

.products__item--second{
    background-color: $background-coffee-color;
}

.products__item--third{
    background-color: $background-green-color;
}

.products__item::before {
    position: absolute;
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 68%;
    left: 0px;
    height: 280px;
    width: 280px;
    margin-bottom: 20px;
}

.section__title--other-marg{
    margin-bottom: 150px;
}

.products__title{
    font-family: 'Titan One';
    @include font($fw: 400, $fs: 20px, $lh: 23px);
    color: $white-text-color;
    text-transform: uppercase;
}

.products__dots{
    position: relative;
    content: ' ';
    display: block;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    background-color: $white-text-color;

    &::before{
        position: absolute;
        content: ' ';
        display: block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        left: -12px;

        background-color: $white-text-color;
    }

    &::after{
        position: absolute;
            content: ' ';
            display: block;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            left: 12px;
        
            background-color: $white-text-color;
    }
}

.products__text{
    margin: 32px 40px;
    @include font($fs: 14px);
    color: $white-text-color;
}

.products__button{
    margin-bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 0;
    transition: background-color 250ms linear;
    &:hover,
    &:focus {
        background-color: $background-mobile-menu;
    }
}

.products__item {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}

.backdrop__products{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    background-color: rgba(195,22, 55, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop__products.modal-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.backdrop__products.modal-hidden .modal__products-window {
    transform: translate(-50%, -50%) scale(0.25);
}

.modal__products-window{
    position: absolute;
    z-index: 150;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    max-width: 370px;
    height: 450px;
    padding: 40px;
    border-radius: 24px;

    background-image: url('../images/mobile/about/about-bg.png');
    background-repeat: no-repeat;
    background-color: $background-primary-color;
    
        
}

.window__text{
    @include font($fs: 20px, $lh: 23px);
   color: $accent-red-color;
@media screen and (max-width: 479px) {
        @include font($fs: 12px, $lh: 14px);
    }

    @media screen and (min-width: 480px) {
        @include font($fs: 14px, $lh: 16px);
    }

    @media screen and (min-width: 1200px) {
        @include font($fs: 20px, $lh: 23px);
    }



}

.window__close-btn{
    margin-left: auto;
    margin-right: auto;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white-text-color;
    height: 44px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: $accent-red-color;

    transition: background-color 250ms linear;

}

.close-btn__icon{
    display: inline-block;
    fill: $background-primary-color;
    transition: fill 250ms linear;

}

.window__close-btn:hover,
.window__close-btn:focus{
    background-color: $hover-background-color;
    border: 1px solid $accent-red-color;
    color: $accent-red-color;
    & .close-btn__icon {
        fill: $accent-red-color;
    }
}
.products__icon {
    fill: $accent-red-color;
    transition: fill 250ms linear;
    .products__button:hover &,
    .products__button:focus & {
        fill: $background-primary-color;
    }
}

@media screen and (max-width: 479px){
    .modal__products-window{
        top: 40%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (min-width: 480px) {
    .modal__products-window {
        width: 370px;
        height: 540px;
    }
}

@media screen and (max-width: 767px){
    .products__item:not(:last-child){
        margin-bottom: 150px;
    }

        .products__item:nth-child(1)::before {
            content: '';
            background-image: url('/src/images/mobile/products/products-img1.png');
        }
    
        .products__item:nth-child(2)::before {
            content: '';
            background-image: url('/src/images/mobile/products/products-img2.png');
        }
    
        .products__item:nth-child(3)::before {
            content: '';
            background-image: url('/src/images/mobile/products/products-img3.png');
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .products__item:nth-child(1)::before {
                content: '';
                background-image: url('/src/images/mobile/products/products-img1@2x.png');
            }
    
            .products__item:nth-child(2)::before {
                content: '';
                background-image: url('/src/images/mobile/products/products-img2@2x.png');
            }
    
            .products__item:nth-child(3)::before {
                content: '';
                background-image: url('/src/images/mobile/products/products-img3@2x.png');
            }
        }
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .products {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    // .products__wrapper:not(:last-child){
    //     flex-basis: calc((100% - 32px) / 3);
    // }
    .products__item::before{
        margin-bottom: 32px;
        width: 224px;
        height: 224px;
        bottom: 78%;
    }

    .products__item{
        padding-top: 120px;
        width: 224px;
    }

    .products__text{
        @include font($lh: 25px);
        margin: 32px 15px;
    }


    .products__item:nth-child(1)::before {
            content: '';
            background-image: url('/src/images/tablet/products/products-img1.png');
        }
    
        .products__item:nth-child(2)::before {
            content: '';
            background-image: url('/src/images/tablet/products/products-img2.png');
        }
    
        .products__item:nth-child(3)::before {
            content: '';
            background-image: url('/src/images/tablet/products/products-img3.png');
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .products__item:nth-child(1)::before {
                content: '';
                background-image: url('/src/images/tablet/products/products-img1@2x.png');
            }
    
            .products__item:nth-child(2)::before {
                content: '';
                background-image: url('/src/images/tablet/products/products-img2@2x.png');
            }
    
            .products__item:nth-child(3)::before {
                content: '';
                background-image: url('/src/images/tablet/products/products-img3@2x.png');
            }
        }
}

@media screen and (min-width: 1200px){
    .products {
            display: flex;
            gap: 32px;
        }
    
        .section__title--other-marg {
            margin-bottom: 290px;
        }
        // .products__wrapper:not(:last-child){
        //     flex-basis: calc((100% - 64px) / 3);
        // }
        .products__item::before {
            margin-bottom: 32px;
            width: 368px;
            height: 394px;
            bottom: 72%;
        }
    
        .products__item {
            width: 368px;
        }
    
        .products__title{
            @include font($fw: 400, $fs: 30px, $lh: 34px);
        }

        .products__text {
            @include font($lh: 28px);
            margin: 32px 64px 60px 64px;
        }

        .products__button {
            margin-bottom: 60px;
        }

    .window__text{
        margin: 40px 32px;
        @include font($lh: 28px);
    }
    
    .window__close-btn{
        left: 80px;
    }

    .products__item:nth-child(1)::before {
            content: '';
            background-image: url('/src/images/desktop/products/products-img1.png');
        }
    
        .products__item:nth-child(2)::before {
            content: '';
            background-image: url('/src/images/desktop/products/products-img2.png');
        }
    
        .products__item:nth-child(3)::before {
            content: '';
            background-image: url('/src/images/desktop/products/products-img3.png');
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .products__item:nth-child(1)::before {
                content: '';
                background-image: url('/src/images/desktop/products/products-img1@2x.png');
            }
    
            .products__item:nth-child(2)::before {
                content: '';
                background-image: url('/src/images/desktop/products/products-img2@2x.png');
            }
    
            .products__item:nth-child(3)::before {
                content: '';
                background-image: url('/src/images/desktop/products/products-img3@2x.png');
            }
        }
}